/obj
/bin
/ServerSideAnalytics/.vs/ServerSideAnalytics/v15
/ServerSideAnalytics/obj
/.vs/ServerSideAnalytics/v15
/ServerSideAnalytics.Common/obj
/ServerSideAnalytics.Common/bin
/ServerSideAnalytics.IpInfo/obj
/ServerSideAnalytics.Mongo/bin
/ServerSideAnalytics.Mongo/obj
/ServerSideAnalytics.Mongo/ServerSideAnalytics.Mongo.csproj.user
/ServerSideAnalytics.SqLite/bin/Debug/netstandard2.0
/ServerSideAnalytics.SqLite/obj
/ServerSideAnalytics.SqlServer/bin/Release/netstandard2.0
/ServerSideAnalytics.SqlServer/obj
/.vs
/ServerSideAnalytics/bin
/ServerSideAnalytics.IpInfo/bin
/ServerSideAnalytics.SqLite/bin
/ServerSideAnalytics.SqlServer/bin
/TestApp/TestApp.SqlServer/bin/Debug/netcoreapp2.1
/TestApp.Sqlite/bin/Debug/netcoreapp2.1
/ServerSideAnalytics/.vs
/TestApp/TestApp.SqlServer/obj
/TestApp.SqlServer/bin
/TestApp.Sqlite/obj
/TestApp.Sqlite/bin
/TestApp.SqlServer/obj
/TestApp.Mongo/bin
/TestApp.Mongo/obj
/TestBase/TestBase/obj
/TestBase/TestBase/bin
/TestMongo/obj
/TestMongo/bin
/TestSqLite/obj
/TestSqLite/bin
/TestSqlServer/bin
/TestSqlServer/obj
/ServerSideAnalytics.Extensions/obj
/ServerSideAnalytics.Extensions/bin
/TestApp.Mongo/TestApp.Mongo.csproj.user
/Countries.Core/obj/Release/netcoreapp2.0/Countries.Core.csprojAssemblyReference.cache
/CodeProject/bin
/CodeProject/obj
/TestApp.Sqlite/stat.db
